<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1 {
            background-color: red;
            width: 100px;
            height: 50px;
            line-height: 50px;
        }
        .box2 {
            background-color: yellow;
            width: 100px;
        }
        span {
            background-color: blue;
        }
    </style>
</head>
<body>
    <!-- 
        文档流分为块元素和行内元素，
        块元素独占一行，行内元素自左向右在行内排列
        块元素可以指定宽和高，行内元素则不行
     -->
    <div class="box1">111111111</div>
    <div class="box2">111111111</div>

    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
    <span>222222222222</span>
</body>
</html>