<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1 {
            width: 100px;
            height: 100px;
            background-color: #bfa;
            padding: 20px;
            border: 20px solid red;
            /*  box-sizing:盒子大小模型，
                设置为content-box，height和width是内容区大小
                设置为border-box，height和width是盒子可见区总大小 */
            box-sizing: border-box;
            
        }
    </style>
</head>
<body>
    <div class="box1"></div>
</body>
</html>